.furniture-detail-card {
  margin: 5px 5px 5px 5px;
  z-index: 1;
}

.furniture-detail-card-img {
  z-index: -1;
  width: 100%;
  height: 100%;
}

.card-link-section-hr {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 80px;
  height: 1px;
  background: #dddddd;
  width: 80%;
}

@media screen and (min-width: 1400px) {
  .furniture-detail-card:hover{
    transform: scale(1.06);
    transition: all 0.3s ease-out;
  }

}