.furniture-detail-card {
  margin: 5px 5px 5px 5px;
  z-index: 1;
}

.furniture-detail-card-img {
  z-index: -1;
}

.card-link-section-hr {
  width: 100%;
  background-color: #aeaeae91;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-overlay:hover {
  opacity: 1;
}

@media (hover: hover) {
  .furniture-detail-card:hover{
    transform: scale(1.06);
    transition: all 0.3s ease-out;
  }
}