.carousel {
  display: flex;
  justify-content: center;
  background-color: #dcdcdc;;
}

.carousel .slide {
  background-color: #dcdcdc;;
}

.carousel .slide img {
  max-height: 100%;
  width: auto;
}

.carousel-image {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}



@media screen and (max-width: 1200px) {
  .carousel .slide{
    height: 80vh;
  }

  .carousel .slide img {
   margin: 5vh 0 5vh 0;
   width: 100vw; 
  }
}

@media screen and (max-width: 900px) {
  .carousel .slide{
    height: 70vh;
  }
}

@media screen and (max-width: 750px) {
  .carousel .slide{
    height: 60vh;
  }
}

@media screen and (max-width: 650px) {
  .carousel .slide{
    height: 50vh;
  }
}

@media screen and (max-width: 500px) {
  .carousel .slide{
    height: 40vh;
  }
}

@media screen and (max-width: 400px) {
  .carousel .slide{
    height: 30vh;
  }
} 